@tailwind base;
@tailwind components;
@tailwind utilities;

/* home page*/
.home-background {
    width: 100%;
    object-fit: cover;
}

/* login page */
.login-img {
    width: 70%;
    object-fit: cover; 
    height: 1000px;  
    
}

/* signup page */
.singup-img {
    width: 70%;
    object-fit: cover; 
    height: 1000px;  
}

/* restaurants page */
.restolist-img {
    width: 100%;
    object-fit: cover;
    height: 500px;
}

/* rating component */
.star-radio {
    display: none;
}

.star {
    cursor: pointer;
    transition: color 200ms;
}